.card-conatiner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 40%;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .card-conatiner {
    height: 500px;
    width: 100%;
  }
}
@media screen and (max-width: 450px){
  .card-conatiner{
    width: 100%;
    overflow-y: scroll;
    height: 500px;
}
}

