<div class="card-conatiner mt-3">
  <div class="card mt-3">
    <div class="card-body">
      <h5>
        B. Tech(IT)
      </h5>
      <h6>Sobhasaria Engineering College, Sikar, Rajasthan, 332001</h6>
      <p>2014-2018 (83%)</p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h5>
        Senior Secondary
      </h5>
      <h6>Sanskar Sr Sec School, Danta, Rajasthan, 332702</h6>
      <p>2013 (82%)</p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h5>
        Secondary
      </h5>
      <h6>Govt Sr Sec School, Danta, Rajasthan, 332702</h6>
      <p>2011 (84%)</p>
    </div>
  </div>
</div>
