<div class="card">
  <div class="card-body">
    <div>
      <h3 class="text-white-50">Krishna Jangir</h3>
      <a href="mailto:krishnajj99@gmail.com">krishnajj99@gmail.com</a>
    </div>
    <div class="card-body-second">
      <a href="https://github.com/Krishnajangir" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top"
        title="Github"> <i class='fa fa-github'></i></a>
      <a href="https://www.linkedin.com/in/jangirkrishna/" target="_blank" data-bs-toggle="tooltip"
        data-bs-placement="top" title="linkedin"><i class='fa fa-linkedin'></i></a>
      <a href="https://www.hackerrank.com/krish33" target="_blank" data-bs-toggle="tooltip"
        data-bs-placement="top" title="Hackerrank"><span class="iconify"
          data-icon="simple-icons:hackerrank"></span></a>
    </div>
  </div>
</div>
