.card {
  background-color: #333;
}

.card-body {
  display: flex;
  justify-content: space-around;
}

.fa:before {
  font-size: 30px;
  color: white;
}

.card-body-second {
  margin: 1em;
}

.card-body-second a {
  margin-right: 1em;
}

.iconify {
  position: relative;
  bottom: 0.1em;
  color: white;
  font-size: 30px;
}
a {
  color: white;
}
