.main {
  position: relative;
  top: 10em;
  .about-text {
    color: whitesmoke;
    text-align: center;
  }
  .btn-info {
    background-color: white;
    color: black;
  }

}
.card {
  .card-body a {
    text-decoration: none;
}
}
@media screen and (min-width: 450px) and (max-width: 991px) {
  .main {
    position: relative;
    top: 20em;
  }
}


