<div class="card-conatiner mt-3">
  <div class="card mt-3">
    <div class="card-body d-flex">
     <div class="mr-6">
    <img src="../../assets/images/nagarro.jpg" alt="" srcset="" height="100px" width="100px">
     </div>
     <div>
      <h5>
        Senior Engineer
      </h5>
      <h6>Gurgaon</h6>
      <p>06/2022 - Present</p>
     </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body d-flex">
      <div class="mr-6">
     <img src="../../assets/images/sapient.jpg" alt="" srcset="" height="100px" width="100px">
      </div>
      <div>
       <h5>
        Associate Technology
       </h5>
       <h6>Gurgaon</h6>
       <p>03/2021 - 06/2022</p>
      </div>
     </div>
  </div>
  <div class="card mt-3">
    <div class="card-body d-flex">
      <div class="mr-6">
     <img src="../../assets/images/oodles.jpg" alt="" srcset="" height="100px" width="100px">
      </div>
      <div>
       <h5>
        Associate Consultant - Frontend
       </h5>
       <h6>10/2019 - 03/2021</h6>
       <p>Gurgaon</p>
      </div>
     </div>
  </div>
</div>
