.card-conatiner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 40%;
  margin: auto;
  overflow-y: scroll;
  height:500px;
}

@media screen and (max-width: 991px) {
  .card-body {
    flex-wrap: wrap;
  }
}
