<div class="card-conatiner mt-3">
  <div class="card mt-3">
    <div class="card-body d-flex">
     <div class="mr-6">
    <img src="../../assets/images/verizon-new.jpg" alt="" srcset="" height="100px" width="100px">
     </div>
     <div>
      <h5>
        Verizon (03/2021 - Present)
      </h5>
      <p>Project involved providing web-based solutions that offers communications, technology, information, and entertainment products and services to consumers, businesses, and governmental entities worldwide</p>
     </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body d-flex">
      <div class="mr-6">
     <img src="../../assets/images/bhaasha.png" alt="" srcset="" height="80px" width="100px">
      </div>
      <div>
       <h5>
        Bhaasha (10/2019 - 03/2021)
       </h5>
       <p>To build technologies to access the right interpreter at the right time and place in order to enable communication across language and cultural barriers and provide every person the equal opportunity of basic health, social, education and judicial services.</p>
      </div>
     </div>
  </div>
  <div class="card mt-3">
    <div class="card-body d-flex">
      <div class="mr-6">
     <img src="../../assets/images/wissle.svg" alt="" srcset="" height="100px" width="100px">
      </div>
      <div>
       <h5>
        Wissle
       </h5>
       <p>Wissle® is a private alert system designed for families, friends and HOAs to immediately “Wissle” a group or community at once via smart phone or computer</p>
      </div>
     </div>
  </div>
</div>
