.card-conatiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 991px) {
  .card-conatiner{
      width: 100%;
      overflow: scroll;
      height: 700px;
  }
  .card-body {
    flex-wrap: wrap;
  }
}
