<div class="card-conatiner mt-6">
  <div class="card mt-3">
    <div class="card-body">
      <h5>
        Programming Languages
      </h5>
      <p>Javascript</p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h5>
        Web
      </h5>
      <p>HTML, CSS, React/Redux</p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h5>
        Database
      </h5>
      <p>SQL Server</p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h5>
        Frameworks
      </h5>
      <p>Angular, Ionic</p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h5>
        Tools
      </h5>
      <p>Visual Studio, VS code, New Relic</p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h5>
        Misc
      </h5>
      <p>npm, yarn</p>
    </div>
  </div>
</div>
