.card-conatiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  width: 40%;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .card-conatiner {
    overflow-y: scroll;
    height: 500px;
  }
}
